@CHARSET "UTF-8";
#article {
	width:auto;
	min-height:200px;
	border:2px solid #ccc;
	font-size:12px;
}
#article h2 {
	text-indent:0;
	text-align:center;
}

#article dl{
	width:190px;
	padding-top:10px;
	padding-left:45px;
	float:left;
}
#article dl dt{
	width:190px;
	margin-bottom:5px;
}
#article dl dt img{
	margin:0 auto;
	display:block;
}
#article dl dd{
	width:95px;
	float:left;
	text-align:center;
	height:20px;
	line-height:20px;
}
#article dl dd a{
	color:#333;
	text-decoration:none;
}
#article dl dd.user{
	width:190px;
	float:none;
	color:#f60;
}
#article dl dd.email,#article dl dd.url{
	width:200px;
	float:none;
	clear:both;
	text-align:left;
	padding-top:2px;
	text-indent:5px;
	text-overflow:ellipsis;
	word-break:break-all
	height:25px;
}
#article dl dd.message{
	background:url(../../images/x1.gif) no-repeat 5px 35%;
}
#article dl dd.friend{
	background:url(../../images/x2.gif) no-repeat left 35%;
}
#article dl dd.guest{
	background:url(../../images/x3.gif) no-repeat 5px 35%;
}
#article dl dd.flower{
	background:url(../../images/x4.gif) no-repeat left 35%;
}

#article #content{
	float:right;
	padding-right:20px;
	
	width:680px;
}
#article #content .user{
	background:url(../../images/member.gif) no-repeat left center;
	color:#666;
	padding-left:20px;
	height:40px;
	line-height:40px;
	border-bottom:1px dashed #999;
}
#article #content .user span{
	float:right;
	color:#06f;
}
#article #content h3{
	font-size:14px;
	line-height:40px;
}
#article #content h3 img{
	vertical-align:middle;
}
#article #content .detail{
	line-height:22px;
	font-size:14px;
}
#article .line{
	width:95%;
	margin:0 auto;
	height:10px;
	clear:both;
	border-bottom:1px dashed #333;
}



















