@CHARSET "UTF-8";
#photo {
	width:auto;
	height:auto;
	border:2px solid #ccc;
	font-size:12px;
}
#photo h2 {
	text-indent:0;
	text-align:center;
}
#photo p{
	clear:both;
	text-align:center;
	padding:10px;
}


#photo dl{
	float:left;
	margin:40px 40px;
	text-align:center;
}
#photo dl dt{
	width:150px;
	height:120px;
	overflow:hidden;
	text-align:center;
}
#photo dl dt img{
	vertical-align:middle;
}
#photo dl dd{
	padding:5px 0;
}
